<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="styles.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<h1>List of things to do:</h1>
		<form action="/addtask" method="post">
			<input type="text" name="title" placeholder="enter task">
			<input type="submit" value="Add Task">
		</form>

		<form action="/deleteall" method="post">
			<div class="masterdelete">
				<input type="submit" name="clearcompleted" value="Delete All">
			</div>
		</form>

		<h3>Incomplete Tasks:</h3>

		<form action="/complete" method="post">
			<div class="listArea">
				<ul>
					{{#todos}} {{^completed}}
					<li>
						<input type="submit" name="capture" value="Mark Complete" onclick="this.value='{{id}}'; this.form.submit();" />
						<span> «-- {{title}}</span>
					</li>
					{{/completed}} {{/todos}}
				</ul>
			</div>
		</form>
		<br>

		<h3>Completed Tasks</h3>

		<form action="/delete" method="post">
			<div class="listArea">
				<ul>
					{{#todos}} {{#completed}}
					<li>
						<input type="submit" name="deletethis" value="Delete" onclick="this.value='{{id}}'; this.form.submit();" />
						<span> «-- {{title}}</span>
					</li>
					{{/completed}} {{/todos}}
				</ul>
			</div>
		</form>

	</div>
</body>

</html>